<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PERSONAL FINANCE</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<h1 class="mt-5">PERSONAL FINANCE</h1>
			{% if plot_url %}
			<div class="row mt-4">
				<div class="col-12">
					<form method="GET" action="{{ url_for('index') }}">
						<div class="form-group">
							<h3 for="month">month</h3>
							<select id="month" name="month" class="form-control" onchange="this.form.submit()">
								<option value="">---select---</option>
								{% for month in months %}
								<option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>{{ month }}</option>
								{% endfor %}
							</select>
						</div>
					</form>
					<div class="row">
						<div class="col-12">
							<img src="{{ plot_url }}" class="img-fluid" alt="Bar Chart">
						</div>
					</div>
					{% endif %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th>CATEGORY:</th>
								<th>AMOUNT: </th>
							</tr>
						</thead>
						<tbody>
							{% for cat in cat_totals %}
							<tr>
								<td>{{ cat['category'] }}</td>
								<td>{{ cat['amount'] }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="form-group">
                    	<label for="monthly_sum">monthly sum {{ month }}:</label>
                    	<input type="text" id="monthly_sum" class="form-control" value="{{ monthly_sum }}" readonly>
                	</div>
					<hr style="height:30px">
					</hr>
					<h3>new expense:</h3>
					<form method="POST" action="{{ url_for('index', month=selected_month) }}">
						{{ form.hidden_tag() }}
						<div class="form-group">
							{{ form.date.label(class="form-control-label") }}
							{{ form.date(class="form-control") }}
						</div>
						<div class="form-group">
							{{ form.category.label(class="form-control-label") }}
							{{ form.category(class="form-control") }}
						</div>
						<div class="form-group">
							{{ form.title.label(class="form-control-label") }}
							{{ form.title(class="form-control") }}
						</div>
						<div class="form-group">
							{{ form.amount.label(class="form-control-label") }}
							{{ form.amount(class="form-control") }}
						</div>
						<div class="form-group">
							{{ form.notes.label(class="form-control-label") }}
							{{ form.notes(class="form-control") }}
						</div>
						<div class="form-group">
							{{ form.submit(class="btn btn-primary") }}
						</div>
					</form>
					<a href="{{ url_for('expenses') }}" class="btn btn-secondary mt-3">view all expenses</a>
					<hr style="height:30px">
					</hr>
				</div>
			</div>
		</div>
	</body>
</html>